body {
    animation: wave 10s infinite;
}

.navbar-dark {
    display: block;
    padding: 20px;
    background-color: rgb(18, 18, 18);
    border-bottom: 2px dashed white;
}

.btn-violet {
    border: 2px solid rgb(102, 0, 255) ;
    border-right: 2px solid rgb(255, 0, 225);
    border-bottom: 2px solid rgb(255, 0, 225);
    transition: transform 0.1s;
}

.btn-violet:hover {
    transform: scale(1.05) ;
    color: white;
    animation: border-swish 1s ;
    animation-iteration-count: 1;
}

.btn-book {
    display: block;
    margin-top: 15px;
    padding: 12px;
    background-color: lightgray;
}

.btn-book:hover{
    color: white;
    background-color: rgb(102, 0, 255);
    box-shadow: 2px 2px 5px black;
}

@keyframes border-swish {
    0% {
        border: 2px solid rgb(102, 0, 255) ;
        border-right: 2px solid rgb(255, 0, 225);
        border-bottom: 2px solid rgb(255, 0, 225);
    }
    25% {
        border: 2px solid rgb(150, 0, 255) ;
        border-right: 2px solid rgb(200, 0, 225);
        border-bottom: 2px solid rgb(200, 0, 225);
    }
    50% {
        border: 2px solid rgb(200, 0, 255) ;
        border-right: 2px solid rgb(150, 0, 225);
        border-bottom: 2px solid rgb(150, 0, 225);
    }
    75% {
        border: 2px solid rgb(255, 0, 255) ;
        border-right: 2px solid rgb(102, 0, 225);
        border-bottom: 2px solid rgb(102, 0, 225);
    }
    100% {
        border: 2px solid rgb(102, 0, 255) ;
        border-right: 2px solid rgb(255, 0, 225);
        border-bottom: 2px solid rgb(255, 0, 225);
    }
}


