
.bg-grad {
    background-image: linear-gradient(180deg, rgb(73, 109, 240), rgb(23, 188, 191), rgb(255, 255, 255));
}

.bg-nav {
    background-image: linear-gradient(180deg, rgb(73, 109, 240), rgb(23, 188, 191));

}
.feature {
    display: flex;
    justify-content: center;
    margin: none;
    padding: none;
    width:auto;
}

.bg-black:hover {
    background-color: white;
    color: black;
}

.btn-vault:hover {
    background-image: linear-gradient(90deg, rgb(54, 48, 249), rgb(0, 226, 230));
    border: none;
    color: white;
}

.card-about {
    background-color: rgb(14, 12, 12);
    box-shadow: 4px 4px 8px grey;
}

.card {
    background-image: linear-gradient(90deg, rgb(73, 109, 240), rgb(23, 188, 191));
    max-width: 10rem;
    border-radius: 8px;
    box-shadow: 2px 2px 4px grey;
  }

.btn-feature:hover  {
    background-image: linear-gradient(90deg, rgb(73, 109, 240), rgb(23, 188, 191));
    border-radius: 8px;
    transform: scale(1.2);
}

.card:hover {
    transform: scale(1.2);
}

.img-card {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 1px 1px 5px black;
}

.btn {
    background-color: black;
    color: white;
    box-shadow: 2px 2px 4px black;
}

.btn:hover {
    background-color: white;
    color: black;
}

.zoom-wrapper img {
    transition: transform 0.8s;
}

.zoom-wrapper:hover img {
    transform: scale(1.2);
}

.gif {
    background-image: url("https://i.pinimg.com/originals/73/69/6e/73696e022df7cd5cb3d999c6875361dd.gif");
    background-size: contain;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 600px){
    h1 {
        font-size: 70px;
        font-weight: lighter;
    }
    .input-group {
        width: 40vw;
    }
    .nav-link {
        color: white;
    }
   
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 40px;
        font-family:'Palatino', serif;
        font-weight: lighter;
    }
    .nav-link {
        color: black;
    }
 
}

