.modal {
    background: transparent;
    /* backdrop-filter: blur(10px); */
    justify-content: center;
    align-items: center;
    /* opacity: 0.8; */
}

.modal-content {
    position: absolute;
    border-radius: 5%;
    height: 260px;
    width: 370px;
    padding: 10px;
    border: 2px solid black;
}

.btn-modal {
    background-color: rgb(102, 0, 255) ;
    color:white;
}

.close {
    background-color: white;
    color: black;
}






