.register {
    height: 100vh;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register__container {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 30px;
  }
  .register__textBox {
    padding: 7px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .register div {
    margin-top: 7px;
  }

  .bg-black{
    background-color: black;
  }
  
  .btn-violet{
    background-color: #580BFB;
    color: white;
  }
  .btn-violet:hover { 
    border-color: #580BFB;
    background-color: #7839ff;
    color: white;
    
  }
  .btn-light:hover{
    background-color: grey;
    border-color: grey;
  }