
h1 {
    font-size: 70px;
}

.card-title{
  color: white;
}
 
div img {
  border-radius: 5% ;
  border: 2px solid black;
}

.card {
  background-image: linear-gradient(90deg, rgb(89, 0, 255), rgb(0, 251, 255));
  padding: 7px;
  border: 2px solid black ;
}

.btn-dark:hover {
  font-family:'Courier New', Courier, monospace;
  color: black;
  background-color: white;
  border: 2px dashed black;
}

footer {
  border: 2px dashed white ;
  background-color: black;
  display: block;
  height: 70px;
}


/* @media only screen and (max-width: 600px) {
    body {
      font-size: small;
    }
  } */

