.reset {
    /* height: 100h; */
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
.reset__container {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 30px;
  }
.reset__textBox {
    padding: 7px;
    font-size: 15px;
    margin-bottom: 10px;
  }
.reset__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  .reset div {
    margin-top: 7px;
  }

  .btn-violet{
    background-color: #580BFB;
    color: white;
  }
  .btn-violet:hover { 
    border-color: #580BFB;
    background-color: #7839ff;
    color: white;
    
  }
  .btn-light:hover{
    background-color: grey;
    border-color: grey;
  }